<div class="page-header">
  <!-- <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1> -->
  <div class="row">
    <div class="span4">
      <h1><span style="font-family: 'Nova Round', cursive; font-size: 200%;">parseq.js</span>&nbsp;</h1>
    </div>
    <div class="span6 offset2 subtitle">
      <h1>a simple javascript flow control library,</h1>
      <h1>as simple as possible, but no simpler.</h1>
    </div>
  </div>
  <!-- <h1><span style="font-family: 'Nova Round', cursive; font-size: 200%;">parseq.js</span>&nbsp;<small>a simple javascript flow control library, as simple as possible, but no simpler.</small></h1> -->
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
